<% content_for :js_html do %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<% end %>
<script>
<% content_for :js do %>
  var map;

  function addMarker(content,time_string,lat,lng){
    var contentString = content;
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map,
      title: time_string
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  function initialize(lat,lng) {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(lat, lng)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    <% @messages.each do |m| %>
      addMarker("<%= m.content %>", "<%= m.created_at.to_s %>", <%= m.latitude.to_f %>, <%= m.longitude.to_f %>)
    <%end%>
  }

  navigator.geolocation.getCurrentPosition(function(location){
    console.log(location)
    initialize(location.coords.latitude,location.coords.longitude);
  })

<% end %>
</script>


<div id="map-canvas"></div>
