


<div id="map-canvas"></div>

<% content_for :js_html do %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<% end %>

<script>
<% content_for :js do %>

  var map;

  var form = "<%= escape_javascript(render 'form') %>";

  function addMarker(content,lat,lng){
    var contentString = content;
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map,
      title: ""
    });
    infowindow.open(map,marker);
    google.maps.event.addListener(infowindow, 'domready', function(){
      $('#message_latitude').val(lat)
      $('#message_longitude').val(lng)
    });
  }

  function initialize(lat,lng) {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(lat, lng)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    addMarker(form, lat, lng)
  }

  navigator.geolocation.getCurrentPosition(function(location){
    console.log(location)

    initialize(location.coords.latitude,location.coords.longitude);

  })


<% end %>
</script>
