<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ระบาย</a>
    </div>


    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">


        <li><%= link_to "Post Message", new_message_path %></li>
        <li><%= link_to "All Messages", messages_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to "My Messages", "#" %></li>
          <li><%= link_to "Profile", edit_user_path(id: current_user.id) %></li>
          <li><%= link_to "#{current_user.full_name} (Logout!)", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

      </ul>
    </div>


  </div>
</nav>




















